
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>  
<bold>Smit Gohel</bold>
<bold>24010101090</bold>  
<i>Roll No: 352</i>    
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [3]:
name = input("Enter Your Name:")
print(f"Hello {name}, welcome to Python Lab.")

Enter Your Name:  Smit

Hello Smit, welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [5]:
num1 = int(input("Enter Number 1 :"))
num2 = int(input("Enter Number 2 :"))
num3 = int(input("Enter Number 3 :"))

print(num1,num2,num3)

sum = num1 + num2 + num3
print(f"Sum:{sum}")
print(f"Average:{sum / 3}")

Enter Number 1 : 1
Enter Number 2 : 2
Enter Number 3 : 3

1 2 3
Sum:6
Average:2.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [10]:
name = input("Enter Your Name:")
print(name,"Type:",type(name))

age = int(input("Enter Your Age:"))
print(age,"Type:",type(age))

percentage = float(input("Enter Your Name:"))
print(percentage,"Type:",type(percentage))

Enter Your Name:  smit

smit Type: <class 'str'>

Enter Your Age:  12

12 Type: <class 'int'>

Enter Your Name:  56

56.0 Type: <class 'float'>

### 05) WAP to print following message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [13]:
print("Python","Programming","Basics",sep=" | ",end="###")

Python | Programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [14]:
name = input("Enter Your Name:")
print("Value:",name)
print("Type:",type(name))
print("ID:",id(name))

Enter Your Name:  smit

Value: smit
Type: <class 'str'>
ID: 2479784301920

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [19]:
a = input("Enter value:")
print("Original ID of a:",id(a))
a = input("Enter value: ")
print("New ID of a:",id(a))

Enter value:  a

Original ID of a: 140725283696608

Enter value:  a

New ID of a: 140725283696608

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [24]:
print("""
Welcome to Python
this is the second lab
Enjoy coding!
""")

Welcome to Python
this is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [72]:
print("""
Sr No    Name     Subject   Grade    Precentage
    1 Nisha Patel Math        A              92
    2 Aarav Modi  Science     B+             85  
    3 Jiya Shah   English     A+             96
""")
print(f"{'Sr No':^1} {'Name':8} {'Subject':^15} {'Grade':^8} {'Percentage'}")
print(f"{'1':>5} {'Nisha Patel':8} {'Math':^8} {'A':^13} {'92':>9}")
print(f"{'2':>5} {'Aarav Modi':10}{'Science':^15}  {'B+'}  {'85':>13}")
print(f"{'3':>5} {'Jiya Shah':^5} {'English':^16} {'A+'} {'96':>14}")

Sr No    Name     Subject   Grade    Precentage
    1 Nisha Patel Math        A              92
    2 Aarav Modi  Science     B+             85
    3 Jiya Shah   English     A+             96

Sr No Name         Subject      Grade   Percentage
    1 Nisha Patel   Math         A              92
    2 Aarav Modi    Science      B+             85
    3 Jiya Shah     English      A+             96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [77]:
number = float(input("Enter Number: "))
print(f"2 decimals: {number:.2f}")
print(f"3 decimals: {number:.3f}")
print(f"Width 10: {number:10.2f}")

Enter Number:  37.2567

2 decimals: 37.26
3 decimals: 37.257
Width:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [79]:
num1 = int(input("Enter number 1:"))
num2 = int(input("Enter number 2:"))
print(f"Sum = {num1 + num2}")
print(f"Difference = {num1 - num2}")
print(f"Product = {num1 * num2}")

Enter number 1: 12
Enter number 2: 8

Sum = 20
Difference = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [89]:
dd = input("Enter day:")
mm = input("Enter month:")
yyyy = input("Enter year:")

print(dd,mm,yyyy,sep='/')
print(yyyy,mm,dd,sep='-')
# help(print)

Enter day: 01
Enter month: 12
Enter year: 2025

01/12/2025
2025-12-01
01 12 2025

### 13) WAP to calculate area and perimeter of a circle.

In [8]:
import math
radius = float(input("Enter the radius of the circle:"))
area = math.pi * (radius ** 2)
perimeter = 2 * math.pi * radius
print(f"Area of Circle: {area:.2f} square units and Perimeter: {perimeter:.2f} units")

Enter the radius of the circle: 10

Area of Circle: 314.16 square units and Perimeter: 62.83 units

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [11]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print(f"{fahrenheit} degrees fahrenheit is equal to {celsius} degrees celsius.")

Enter temperature in Celsius:  30

30.0 degrees Celsius is equal to 86.0 degrees Fahrenheit.

Enter temperature in fahrenheit:  86

86.0 degrees fahrenheit is equal to 30.0 degrees celsius.

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [12]:
kilometers = float(input("Enter the distance in kilometers (km): "))
print(f"Meters: {kilometers * 1000:.2f} m")
print(f"Feet: {kilometers * 3280.84:.2f} ft")
print(f"Inches: {kilometers * 39370.1:.2f} in")
print(f"Centimeters: {kilometers * 100000:.2f} cm")

Enter the distance in kilometers (km):  1

Meters: 1000.00 m
Feet: 3280.84 ft
Inches: 39370.10 in
Centimeters: 100000.00 cm